* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(100deg, rgb(148, 148, 148) 20%, rgb(74, 74, 74) 80%);
    height: 100vh;
    font-family: sans-serif;
}

header {
    width: 100%;
    padding: 20px 15px 20px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: white;
    width: 100px;
    height: 40px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 1px 5px;
    cursor: pointer;
}

.ww {
    background-color: black;
    border-radius: 50%;
    height: 80%;
    width: 30%;

}

.search-bar {
    background-color: rgba(194, 190, 190, 0.658);
    width: 911px;
    height: 62px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#inpt {
    border: none;
    background-color: transparent;
    outline: none;
}

#inpt::placeholder {
    color: rgb(0, 0, 0);
}

#search {
    height: 80%;
    padding: 5px;
    cursor: pointer;
}