body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    height: 95vh;
    background-color: #3b4664;
}
.calc{
    background-color: #282d42;
    display: grid;
    grid-template-columns: repeat(4,70px);
    grid-template-rows: repeat(5,50px);
    gap: 15px;
    padding: 20px;
    border-radius: 15px;
}
.divs{
    background-color: #e7e4dd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 15px;
    font-weight: 600;
    color: #282d42;
}
#RESET{
    grid-column: 1/3;
    background-color: #697295;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e7e4dd;
    font-weight: 600;
}
#equal{
    grid-column: 3/5;
    background-color: #b84a3a;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e7e4dd;
}
#DEL{
    background-color: #697295;
    color: #e7e4dd;
    font-size: 20px;
}
.divs2{
    font-size: 20px;
}