* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: 100% 130%;
    height: 100vh;
    overflow: hidden;
}

.header_div {
    color: red;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: red;

    h1 {
        font-size: 45px;
    }
}

#black_ni {
    z-index: -10;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: fixed;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    color: red;
    gap: 10px;
    justify-content: space-evenly;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#box1,
#box2 {
    display: flex;
    width: 220px;
    height: 220px;
    background-color: red;
    border-radius: 40px;    
    justify-content: center;
    align-items: center;
}
#useless1,#useless2{
    display: flex;
    height: 90%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.circle,
.circle2 {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#so_freaking_useless{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
button{
    border: none;
    background-color: red;
    padding: 5px;
    border-radius: 20px;
    width: 60px;
    color: white;
    position: relative;
    bottom: 30px;
}
@media(max-width: 629px){
    button{
        bottom: 0;
    }
    body{
        overflow-y: scroll;
        height: auto;
    }
}