*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: hsl(237, 48%, 15%);
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
header{
    color: white;
    display: flex;
    border: 1px solid;
    width: 550px;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
}
.score_box{
    background-color: white;
    color: black;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
#score{
    font-size: 60px;
}
section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-image: url(bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 20px 37px;
}
.paper{
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 53%, rgba(45, 140, 169, 1) 23%);
}
.paper, .rock, .scissors{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.scissors{
    grid-column: 3;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 53%, rgba(236, 158, 14, 1) 23%);
}
.rock{
    grid-column: 2;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 53%, rgba(220, 46, 78, 1) 23%);
    position: relative;
    bottom: -60px;
}