:root{
    --White: hsl(0, 0%, 100%);
    --Stone_100: hsl(30, 54%, 90%);
    --Stone_150: hsl(30, 18%, 87%);
    --Stone_600: hsl(30, 10%, 34%);
    --Stone_900: hsl(24, 5%, 18%);
    --Brown_800: hsl(14, 45%, 36%);
    --Rose_800: hsl(332, 51%, 32%);
    --Rose_50: hsl(330, 100%, 98%);
    --border_lol: 15px;
    --percent: 95%;
}
body{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--Rose_50);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 770px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--White);
    border-radius: var(--border_lol);
    padding: var(--border_lol);
}
section{
    width: var(--percent);
}
.first{
    width: var(--percent);
    #h1{
        color: var(--Stone_900);
        font-size: clamp(1rem, 11vw, 3.2rem);
    }
    #h2{
        color: var(--Rose_800);
    }
    p{
        font-size: clamp(1rem, 1.5vw, 1.2rem);
    }
}
.first ul span{
    color: var(--Stone_900);
}
.sec_div h1{
    color: var(--Brown_800);
}
.second h1{
    color: var(--Brown_800);
}
img{
    width: 95%;
    border-radius: var(--border_lol);
}
.first, .second{
    border-bottom: 1px solid var(--Stone_150);
}
.third h1{
    color: var(--Brown_800);    
}
.random{
    border-bottom: 1px solid var(--Stone_150);
    display: flex;
    gap: 25vw;
    p{
        width: 10%;
    }
    span{
        text-align: center;
    }
}
.not_random{
    display: flex;
    gap: 25vw;
    p{
        width: 10%;
    }
}