@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headeri {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    background-color: rgb(206, 206, 206);
    border-bottom: 2px solid;
    animation: animacia 0.5s ease-in;
}

main img {
    width: 100px;
    height: 120px;
}

main {
    padding: 25px 15px 0 30px;
    transition: 1s;
}

.card {
    width: 300px;
    height: 300px;
    background-color: rgb(206, 206, 206);
    border-radius: 8px;
}

#imagino {
    margin: 10px;
}

#borderisfani {
    border-bottom: 2px solid;
}

.btn {
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 40px;
    cursor: pointer;
    transition: 1s;
    border: 1px solid black;
}

.btn:hover {
    background-color: grey;
    transition: 0.5s;
    transform: scale(2);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
}

#abts:hover {
    background-color: rgb(0, 255, 0);
    transition: 1s linear;
    font-size: 20px;
}

#abts {
    border-radius: 8px;
    transition: 1s;
}

@keyframes animacia {
    0% {
        transform: translate(0px,-100px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

#shopping {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgb(189, 188, 188);
    border: 2px solid black;
    padding: 10px;
    transform: translate(270px);
    transition: 1s;
    overflow-y: scroll;
}

img {
    max-width: 100px;
    max-height: 100px;
}