#demna{
    text-shadow: 5px 4px green;
}
/* text-shadow ჰქონდეს 5px 4px green */

#demna1{
    text-shadow: 7px 50px 2348px purple;
}
/* 7px 50px 2348px purole */

#demna2{
    text-shadow: 90px 100px 200px brown;
}
/* 90px 100px 200px brown */