*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}

header{
    display: flex;
    width: 100%;
    border: 1px solid grey;
    padding: 20px;
    margin-bottom: 30px;
}

#uhh{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#main{
    display: flex;
    gap: 100px;
    padding: 0 200px 0 200px;
    justify-content: center;
    flex-wrap: wrap;
}

.product{
    border: 1px solid grey;
    width: 190px;
    padding: 20px;
    border-radius: 15px;
}

button{
    font-size: 30px;
}

#cart_box{
    position: absolute;
    height: 500px;
    overflow-y: scroll;
    background-color: grey;
    right: 0;
    top: 0;
    color: white;
    width: 300px;
    word-wrap: break-word;
    transform: translate(350px);
}