* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: 100% 130%;
    height: 100vh;
    overflow: hidden;
}

.header_div {
    color: red;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: red;
}

#black_ni {
    z-index: -10;
    background-color: black;
    width: 110%;
    height: 110%;
    opacity: 0.5;
    position: absolute;
}