/* <!-- 1)
შექმენი ვებგვერდის HTML ფაილი, სადაც გექნება სამი ბლოკი (div ელემენტი).

თითოეულ ბლოკს მიანიჭე განსხვავებული სტილიზაცია CSS ფაილში:

გამოიყენე სიგანე (width) და სიმაღლე (height) – ანუ დაასახელე შიგთავსის ზომა.

გამოიყენე padding – შიგა მანძილი ელემენტის შიგთავსსა და საზღვარს შორის.

დაამატე border – რომ გამოჩნდეს ელემენტის გარე ჩარჩო.

გამოიყენე margin – ელემენტებს შორის გარე მანძილის განსაზღვრა.

თითოეულ ბლოკში ჩაწერე ტექსტი, რომ padding-ის მოქმედება დავინახოთ.

ყველა ელემენტს მიანიჭე განსხვავებული ფერები (ფონი და border), რომ ვიზუალურად უკეთ განასხვავო.

საბოლოოდ შეამოწმე ბრაუზერში როგორ გამოიყურება თითოეული ელემენტი და როგორ მოქმედებს თითოეული თვისება საერთო ზომაზე და პოზიციაზე. --> */

#div1{
    height: 100px;
    width: 100px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
}

#div2{
    height: 95px;
    width: 95px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 2px;
}

#div3{
    height: 80px;
    width: 80px;
    padding: 15px;
    border: 1px solid yellow;
    border-radius: 2px;
}